<footer class="page-footer font-small grad-l pt-4">
    <div class="container">
        <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <h4 class="text-light"> SIGA-NOS NAS REDES SOCIAIS</h4>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank" class="icoFace">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/" target="_blank" class="icoInsta">
                            <i class="fab fa-instagram"></i>                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/" target="_blank" class="icoTwitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light">© CopyRight: @torquatophotoss </span>
        
    </div>
</footer>
