<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">APAGAR POSTAGEM</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center text-secondary">VOCÊ TEM CERTEZA?</h4>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 justify-content-center ">
                  <h5 class="card-title">{{postagem.titulo}}</h5>
                  <p class="card-text" >{{postagem.texto}}</p>
                  <p class="card-text"><small class="text-muted">{{postagem.data}}</small></p>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-md-12 d-flex justify-content-center">
                    <button class="btn btn-success" (click)='apagar()'>Sim</button>
                    <button class="btn btn-danger" routerLink='/inicio'>Não</button>
                </div>
              </div>

        </div>
  