/* You can add global styles to this file, and also import other style files */
.fs-54{
    font-size: 54pt;
}
.fs-18{
    font-size: 18pt;
}
.grad {
    background-image: linear-gradient(to bottom left, rgb(211, 80, 80), black);
  }
  .mr-4{
      margin-right: 4pt;
  }
  .mb-4{
    margin-bottom: 4pt;
  }